<div id="user-recipes-page-view">
  <!-- <div class="card space-bm-1">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center">Home</h3>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-4">
      <div class="card space-bm-1">
        <div class="card-body">
          <img class="home-bio-img" 
            src="<%= user.icon_link %>" 
            alt="<%= user.displayname %>">
    
          <div class="text-center">
            <h5><%= user.displayname %></h5>
            <p><%= user.username %></p>
          </div>
        </div>
      </div>

      <div class="card space-bm-1">
        <div class="card-body">
          <ul class="list-group">
            <% if (user.id === you.id) { %>
              <a href="#/users/<%= user.id %>/settings" class="list-group-item list-group-item-action">Settings</a>
              <a href="#/create-recipe" class="list-group-item list-group-item-action">Create Recipe</a>
            <% } %>
            <a href="#/users/<%= user.id %>/recipes" class="list-group-item list-group-item-action">User Recipes</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
        <% if (recipesLength > 0) { %>
            <div id="recipes-container"></div>
        <% } else { %>
          <p class="text-center">No recipes yet!</p>
        <% } %>
    </div>
  </div>
</div>